<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
  version="6.0">

    <servlet>
        <servlet-name>DatabaseConfigReaderServlet</servlet-name>
        <servlet-class>com.example.servlet.DatabaseConfigReaderServlet</servlet-class>
        <init-param>
            <param-name>dbHost</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>3306</param-value>
        </init-param>
        <init-param>
            <param-name>dbName</param-name>
            <param-value>users_db</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>DatabaseConfigReaderServlet</servlet-name>
        <url-pattern>/config-reader</url-pattern>
    </servlet-mapping>

</web-app>
